.cart-section {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1) 5%,
      rgba(255, 255, 255, 1) 30%
    ),
    url("../../assets/images/shop-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: fit-content;
  min-height: 50vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  color: $color-base;

  .cart-section-container {
    max-width: $maxWidth-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 70px 20px 20px;
    color: $color-base;

    @include tablet-view {
      padding: 100px 20px 50px;
      gap: 60px;
    }
    @include desktop-view {
      padding: 120px 20px 50px;
    }

    h1 {
      @include desktop-view {
        color: $color-accent;
      }
    }

    .button.black {
      max-width: 220px;
      align-self: center;
    }
    .general-sum {
      color: $color-accent;
      text-align: center;
    }
  }

  .cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
}
