.filter-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 10px;
  @include tablet-view {
    flex-direction: row;
  }
  @include desktop-view {
    max-width: $maxWidth-content;
  }

  .button {
    text-transform: none;
  }

  input.button {
    padding: 10px;
    width: 200px;
    &:hover {
      background-color: $color-base-dark;
      transform: scale(1);
      border: 1px solid $color-accent;
      color: $color-accent;
    }
  }
}

.products-container {
  max-width: $maxWidth-content;
  width: 100%;
  margin: 0 auto;
  display: grid;

  grid-template-columns: repeat(2, 6fr);
  @include small-mobile-view {
    padding: 0 5px;
    grid-template-columns: repeat(1, 12fr);
  }
  @include tablet-view {
    grid-template-columns: repeat(3, 4fr);
  }
  @include desktop-view {
    padding: 0 20px;
    grid-template-columns: repeat(4, 3fr);
  }

  align-items: center;
  justify-content: center;
  gap: 20px;

  a {
    color: $color-accent;
    &:hover {
      text-decoration: none;
    }
  }
}
